@import './variables.css';

@media screen
	and (max-width: 599px) {
		.content {
			flex-direction: column;
		}

		.right {
			border-top: var(--border-width) solid var(--color-border);
			min-height: calc(var(--spacing-regular) * 40);
		}
}

@media screen
	and (min-width: 600px) {
		.content {
			flex-direction: row;
		}

		.right {
			border-left: var(--border-width) solid var(--color-border);
			min-width: calc(var(--spacing-regular) * 40);
		}
}

.root {
	height: 100vh;
}

.noapi {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 2em;
}

.banner {
	font-size: 18px;
	padding: 2em;
}

.content {
	height: 100vh;
	display: flex;
}

.left {
	display: flex;
	margin: var(--spacing-regular);
	flex: 3;
	flex-direction: column;
}

.leftHeader {
	display: flex;
	width: 100%;
}

.leftHeader > *:first-child {
	flex: 1;
}

.leftTitle {
	color: var(--color-highlight);
	font-size: 16px;
	font-weight: 700;
}

.right {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 var(--spacing-regular);
}
