@import './variables.css';

body {
	align-items: stretch;
	align-content: stretch;
	display: flex;
	flex-direction: column;
}

.root {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

.noapi {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 2em;
}

.banner {
	font-size: 18px;
	padding: 2em;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
}

.left {
	margin: var(--spacing-regular);
	flex: 3;
}

.right {
	flex: 1;
	min-width: calc(var(--spacing-regular) * 44);
}
