@import './variables.css';

.root {
	flex: 1;
	padding: var(--spacing-regular) 0;
	overflow-y: scroll;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.empty {
	height: 100%;
	align-items: center;
	color: var(--color-text-faded);
	font-size: 16px;
	display: flex;
	justify-content: center;
}

.empty > p {
	padding: var(--spacing-regular);
	margin: 0;
}

.item {
	font-size: 11px;
	line-height: 13px;
	font-family: Menlo, monospace;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	padding: 2px;
	align-items: center;
}

.item:nth-child(even) {
	background-color: var(--color-background-alternate);
}

.key {
	color: var(--dojo-red);
	min-width: 5em;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-shrink: 1;
	flex-basis: 16em;
	flex-grow: 1;
}

.value {
	margin-left: 1em;
	padding-left: 2px;
	text-overflow: ellipsis;
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-basis: 5em;
	flex-grow: 10;
}
