@import './variables.css';

.root {
	background-color: var(--color-background);
	color: var(--color-text-primary);
	font-size: 13px;
	flex: 1;
	line-height: 1.4em;
	overflow: hidden;
	position: relative;
	user-select: none;
	width: 100%;
}

.scroll {
	box-sizing: border-box;
	height: 100%;
	outline: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
}

.label {
	flex: 1;
	flex-wrap: nowrap;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label i {
	padding-left: 12px;
}

.label i::before {
	background-size: 16px;
	background-position: 0;
	background-repeat: no-repeat;
	height: 22px;
	padding-right: 2px;
	-webkit-font-smoothing: antialiased;
	width: 16px;
	display: inline-block;
	vertical-align: top;
}

.label::before {
	background-size: 16px;
	background-position: 0;
	background-repeat: no-repeat;
	height: 22px;
	padding-right: 6px;
	-webkit-font-smoothing: antialiased;
	width: 16px;
	display: inline-block;
	vertical-align: top;
}

.labelName {
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: pre;
}

.content {
	position: relative;
	height: 100%;
	display: flex;
}

.hasChildren .content::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000000%22%20viewBox%3D%220%200%2044%2044%22%3E%0D%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M24.92%2022L13.25%2033.67a2.75%202.75%200%200%200%203.89%203.89l13.62-13.62a2.73%202.73%200%200%200%200-3.88L17.14%206.44a2.75%202.75%200%200%200-3.9%203.89z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.hasChildren.expanded .content::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2044%2044%22%3E%0D%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M28.88%2028.88H12.37a2.75%202.75%200%200%200%200%205.5h19.26a2.73%202.73%200%200%200%202.75-2.75V12.37a2.75%202.75%200%200%200-5.5%200z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.content::before {
	background-position: 50% 50%;
	background-size: 16px;
	background-repeat: no-repeat;
	content: ' ';
	display: inline-block;
	height: 22px;
	padding-right: 6px;
	vertical-align: top;
	width: 16px;
}

.row {
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	touch-action: none;
	width: 100%;
}

.row.selected {
	background-color: rgba(0,107,230,0.1);
}

.row:hover:not(.selected) {
	background-color: rgba(92,108,124,0.1);
}
