/* Themed Styles */

.root {
	display: inherit;
}

.noapi {
	display: inherit;
}

.banner {
	display: inherit;
}

.content {
	display: inherit;
}

.left {
	display: inherit;
}

.right {
	display: inherit;
}

/* Fixed Styles */
