.root {
	display: inherit;
}

.list {
	display: inherit;
}

.sublist {
	display: inherit;
}

.empty {
	display: inherit;
}

.item {
	display: inherit;
}

.alternate {
	display: inherit;
}

.expandable {
	display: inherit;
}

.expanded {
	display: inherit;
}

.key {
	display: inherit;
}

.value {
	display: inherit;
}
