/* Themeable */

.keyLabel {
	display: inherit;
}

/* Icons */

.hnode::before,
.wnode::before,
.empty::before,
.string::before,
.key::before {
	content: ' ';
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20data-name%3D%22Layer%201%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20d%3D%22M55%2073.4a5%205%200%201%201-5-5%205%205%200%200%201%205%205zM37%2037.7a5%205%200%200%200%206.7-2.3%207%207%200%200%201%206.2-4%207.2%207.2%200%200%201%207%206.8%207%207%200%200%201-5%207%2010.4%2010.4%200%200%200-7%209.7v3.5a5%205%200%200%200%209.6%200v-4c0-.2.4-.4.4-.4a16.8%2016.8%200%200%200%2012-16%2017%2017%200%200%200-17-16.4%2016.7%2016.7%200%200%200-15%209.6%205%205%200%200%200%202.2%206.5zm-34.8%2037V25.3a23%2023%200%200%201%2023-23h49.5a23%2023%200%200%201%2023%2023v49.4a23%2023%200%200%201-23%2023H25.3a23%2023%200%200%201-23-23zm9.3%200a13.8%2013.8%200%200%200%2013.8%2013.8h49.4a13.8%2013.8%200%200%200%2013.8-13.8V25.3a13.8%2013.8%200%200%200-13.8-13.8H25.3a13.8%2013.8%200%200%200-13.8%2013.8z%22%2F%3E%3C%2Fsvg%3E");
}
